$awesome-burger-color: #fff;
$awesome-burger-animation-speed: 750ms;
$awesome-burger-scale: 4;

@import '../../../src/scss/awesome-burger';

.awesome-burger {
  margin: auto;
  transform-origin: center -60%;
}

body {
  background: #158fef;
}

h4 {
  font-family: arial,helvetica,serif;
  color: white;
  font-size: 18px;
  text-align: center;
}
