$awesome-burger-color: #fff;
$awesome-burger-animation-speed: 750ms;
$awesome-burger-scale: 1;

@import '../../../src/scss/awesome-burger';

body {
  background: #158fef;
  padding: 40px;
}

h4 {
  font-family: arial,helvetica,serif;
  color: white;
  font-size: 18px;
  text-align: center;
  margin: 40px 0 0;
}
