$awesome-burger-color: #fff !default;
$awesome-burger-animation-speed: 750ms !default;
$awesome-burger-scale: 1 !default;

@mixin transform-origin($x, $y) {
  -ms-transform-origin: $x $y;
  -webkit-transform-origin: $x $y;
  transform-origin: $x $y;
}

.awesome-burger {
  -ms-transform: scale($awesome-burger-scale);
  -webkit-transform: scale($awesome-burger-scale);
  transform: scale($awesome-burger-scale);
  @include transform-origin(0,0);
  display: block;
  width: 64px;
  height: 64px;
  -webkit-touch-callout: none;
	user-select: none;

  .awesome-burger-top, .awesome-burger-bottom {
    position: absolute;
    display: block;
    height: 4px;
    width: 36px;
    border-radius: 2px;
    background: $awesome-burger-color;

    transform-origin: 34px 2px;
    transform: rotate( 0deg ); // to prevent pixelatedness
    transition: all $awesome-burger-animation-speed * (2/3) cubic-bezier(.8, -1.1, .5, 1.9); // x to = animation
  }

  .awesome-burger-top {
    top: 19px;
    left: 14px;
  }
  .awesome-burger-bottom {
    top: 41px;
    left: 14px;
  }

  path, line {
    stroke: $awesome-burger-color;
    stroke-linecap: round;
  }

  .awesome-burger-circle {
    stroke-dasharray: 1 100 32 300; // 32 is the hamburger size
    stroke-dashoffset: 101; // setting up a gap to swipe in from the left
    transition: all $awesome-burger-animation-speed ease; // - to () animation
  }

  &.awesome-burger-closed {
    // The circle animation is done by changing two things:
    // - a new 100px gap is swiped in from the left by changing offset
    // - the 'burger' dash is increased from 32px to 190px
    .awesome-burger-circle {
      stroke-dasharray: 1 100 190 300;
      stroke-dashoffset: 1;
    }

    // Rotate the top and bottom 'bum' to make a cross, and shift them to
    // the right a little bit
    .awesome-burger-top {
      transform: translateX( -4.5px ) rotate( -45deg );
    }
    .awesome-burger-bottom {
      transform: translateX( -4.5px ) rotate( 45deg );
    }
  }
}
